

.slick-next{
  position: absolute;
  top:-40%;
  right:5%;
}
.slick-prev{
  position: absolute;
  top:-40%;
  left:85%;
}
.slick-next:before{
  content: "\2192";

}

.slick-prev:before, .slick-next:before {
  font-family: 'slick';
  font-size: 40px;
  line-height: 1;
  opacity: 1;
  color: white;

}



